.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0,0, .5);
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    z-index: 1000000;
}
.modal-body {
    padding: 2rem;
    width: 400px;
    background:#e8ebee;
    height: 200px;
    z-index:1000000;    
}

.inputModal {
    width: 100%;
    font-size: 14px;
    height: 20px;
    background-color: fixed;
    padding: 5px ;
    color: #587597;
    cursor: pointer;
    z-index:1000000;
    }

.changeCheif {
    background: #e8ebee;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    padding: 8px;
    border:1px solid #40e0d0;
    color: #587597;
    font-weight: 500;
    font-size: 16px;
    }

.changeCheif:hover {
    box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
    cursor: pointer
  }

.changeModalclose {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    padding: 5px;
    color: white;
    background: #e8ebee;
    border:1px solid #e8ebee;
    font-weight: 500;
    width: 30px;
    }

.changeModalclose:hover {
    box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
    cursor: pointer;
    }

.changeModal {
    background: #40e0d0;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    padding: 8px;
    color: white;
    border:1px solid #40e0d0;
    font-weight: 500;
    
    }

.changeModal:hover {
    box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
    cursor: pointer;
  }

.edit {
    display: flex;
    padding: 0 0 1rem 0;
    flex-direction: row;
    align-self: center;
    align-items: center;
}
.editText  {
    padding-right: 5px;
}

.modalLogin {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #e8ebee;
    display: flex;
    justify-content: center;
    z-index: 1000;
    height: 100%;
    padding: 0 20px 0 20px
}

.modalBodyLogin {
    margin-top: 10rem;
    padding: 45px 40px;
    height: 300px;
    z-index:1000;  
    background: white;
    border: 1px solid #e0e3ed;
    border-radius: 5px;
    font-size: 14px;   
    width: 250px; 
}

.lines {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.loginText  {
    padding: 5px;
    font-weight: 500;
    justify-content: flex-end;
}

.loginButton {
    background: #40e0d0;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    padding: 8px;
    color: white;
    border:1px solid #40e0d0;
    font-weight: 500;
    width: 100%;
    border-radius: 5PX;
}

.openWarning {
    display: flex;
    color: red;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    word-wrap: break-word;
  }
  
.closeWarning {
    display: none;
}